<h1>Project #<%= @project.id %></h1>

<%= @project.name %>
<%= link_to "Show tasks", project_tasks_path(@project) %>
<%= link_to "Edit", edit_project_path(@project) %>
<%= link_to "Delete", @project, method: :delete %>
